

   <mat-toolbar color="primary">
    <mat-toolbar-row >
      <span><img src="../../../assets/aqu77ezeqrzbsd0rdsj3.png" width="30px" alt="Logo" routerLink="/"></span>
     <div style="padding: 50px;"></div>
      <p style="font-family:   'Arial Narrow Bold', sans-serif;">Yes we can, <b style="color: black;">find it all</b> </p>
      <span class="example-spacer"></span>
      <mat-icon> phone</mat-icon>
      <p style="padding: 50px;">+7 (999) 893-32-56</p>
      <br >
      <div>  <p style="color: lightskyblue;"> Oficinas Manuel Spínola</p></div>
    </mat-toolbar-row>
    </mat-toolbar>
    <body>
      <div  style="width: 100%; color: red; align-items: center; display: flex; justify-content: center;   height: 300px; font-size: 40px;">He perdido</div>

      <div style="color: red; text-align: center;"><mat-icon>backup</mat-icon> Su objeto perdido se ha registrado perfectamente</div>

    </body>




